#gamePanel > * {background: yellow;}


#gamePanel > * > p {background: blue;}



@import url("effects.css");
@import url("settingsBar.css");
@import url("colorBlindness.css");

html, body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.4vw;
  color: #08B304;
  overflow: hidden;
}

.background {
  background-image: url("../resources/background_screen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.hide, #rotate {
  display: none;
}

.terminal {
  margin-left: 25%;
  margin-right: auto;
  margin-top: 4.5vw;
  margin-bottom: auto;
  width: 50%;
  padding: 2%;
}

#cursor {
  flex-direction: column;
  position: absolute;
  bottom: -5%;
}

#cursor p {
  height: auto;
}

#prompt-position {
  flex-direction: column;
  position: relative;
}

#prompt {
  flex-direction: column;
}

#prompt-position p {
  display: inline-block;
  margin-right: 5px;
}

#header-container, #timeContainer {
  display: inline-block;
  width: 100%;
  }

#header-container p {color:#08B304;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #000501; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
  typing 1s steps(30, end),
  blink-caret .9s step-end infinite;
}

#enter p{
  color:#08B304;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #000501; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
  typing 1s steps(30, end),
  blink-caret .9s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: #000501 }
}

#title {
  float: left;
}

#display-area {
  margin-left: 24%;
}

#attempts, #title {
  margin-bottom: 2%;
  margin-top: 0;
}

#attempts p{
  color:#08B304;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #000501; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
  typing 1s steps(30, end),
  blink-caret .9s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: #000501 }
}

.blink {
  animation: blinker 1s step-start infinite;
}

#root {
  display: flex;
    animation: slide-right 1s;}

@keyframes slide-right {
  from {
    margin-left: -300%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.col1 {
  float: left;
  width: 14%;
  margin: 0;
  order: 1;
}

.col2 {
  float: left;
  width: 23%;
  margin: 0;
  order: 2;
}

.col3 {
  float: left;
  width: 14%;
  margin: 0;
  order: 3;
}

.col4 {
  float: right;
  width: 23%;
  margin: 0;
  order: 4;
}

.input {
  float: right;
  order: 5;
  width: 26%;
  margin: 0;
}

.word:hover, .symbol:hover {
  background-color: #08B304;
  color: black;
}

#endPanel {
  position: relative;
}

#rankigForm {
  text-align: center;
  margin-top: -90px;
  padding: 0.8%;
}

#rankigForm input[type=text] {
  border: 3px solid #08B304;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

#rankigForm input[type=image] {
  margin-top: 10px;
  color: #08B304;
  display: inline-block;
}

#losePanel {
  text-align: center;
  margin-top: -5%;
  margin-left: 19%;
}

#winPanel {
  text-align: center;
  margin-top: 12%;
  margin-left: 19%;
}

#rankigForm>img {
  -webkit-animation: bounce-in-bck 1.1s both;
  animation: bounce-in-bck 1.1s both;
}

#losePanel>img {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

.buttons {
  margin-top: 4%;
  display: inline-block;
}

.button {
  background-color: #000501;
  border: 2px solid #08B304;
  color: #08B304;
  text-align: center;
  font-size: 1.25vw;
  padding: 4%;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  margin: 5px;
}

.button:hover {
  background-color: #08B304;
  color: black;
}

/* Responsive styles */

@media only screen and (max-width: 1550px) and (min-width: 1500px) {
  .terminal {
    margin-top: 2.5%;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 1150px) {
  body {
    font-size: 2.2vh;
  }
  .terminal {
    margin-top: 10vw;
    margin-left: 20%;
    width: 55%;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 900px) {
  body {
    font-size: 2.5vh;
  }
  .terminal {
    margin-top: 6.5%;
    margin-left: 18%;
    width: 65%;
  }
  #winPanel {
    margin-left: 13%;
    width: 65%;
  }
  #losePanel {
    font-size: 3vh;
    width: 60%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  body {
    font-size: 2.5vh;
  }
  .terminal {
    margin-top: 12vw;
    margin-left: 7%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 750px) {
  body {
    font-size: 2.5vh;
  }
  .terminal {
    margin-top: 8vw;
    margin-left: 16%;
    width: 85%;
  }
  #winPanel {
    width: 55%;
    margin-top: 7%;
    margin-left: 7%;
  }
  #losePanel {
    font-size: 3vh;
    width: 70%;
    margin-top: -6%;
    margin-left: 0%;
  }
  #losePanel>img {
    width: 45%;
    margin-left: 27%;
    display: block;
  }
}

@media only screen and (min-width: 350px)and (max-width: 450px) {
  .background {
    background: black;
  }
  .terminal {
    font-size: 3.8vw;
    margin-left: 5%;
    width: 85%;
  }
  #root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
  }
  .col1 {
    flex: 0 0 20%;
    order: 1;
  }
  .col2 {
    flex: 0 0 80%;
    order: 2;
  }
  .input {
    flex: 0 0 40%;
    order: 4;
  }
  .col3 {
    flex: 0 0 20%;
    order: 3;
  }
  .col4 {
    flex: 0 0 35%;
    order: 4;
  }
  #winPanel {
    margin-top: 55%;
    margin-left: 7%;
  }
  #losePanel {
    font-size: 3.5vh;
    width: 100%;
    margin-top: 10%;
    margin-left: -2%;
  }
  #losePanel>img {
    width: 85%;
    margin-left: 3%;
  }
  .buttons>.button {
    font-size: 4.5vw;
  }
  /* Settings bar mobile */
  #options {
    display: grid;
    padding: 3px 3% 2px 0;
    border-radius: 0;
  }
  #options>i {
    padding-bottom: 8px;
    font-size: 3vh;
  }
  #options>i:first-child {
    padding-top: 5px;
  }
}

/* Effect of an old-style screen display 
https://gist.github.com/CodeMyUI/1d83fbd4904edd7021c06f8dfd0f14c9*/

#gamePanel {
  position: absolute;
  width: 45%;
}

.screenEffect {
  animation: colorPulse 6s infinite ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
}

.screenEffect:before {
  animation: wave 15s infinite ease-in-out;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.15;
  position: absolute;
  right: 0;
}

.screenEffect:after {
  content: "";
  left: 0;
  pointer-events: none;
}

/* Test only */

.word {
  color: yellow;
}

.symbol {
  color: red;
}